services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./.env:/app/.env:ro # (read-only)
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
      - PORT=3003
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres_tashkent
      - DB_PASSWORD=postgres_tashkent
      - DB_NAME=deposit_platform_tashkent
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  # PostgreSQL Database
  postgres:
    image: postgres:18.1-alpine
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=postgres_tashkent
      - POSTGRES_PASSWORD=postgres_tashkent
      - POSTGRES_DB=deposit_platform_tashkent
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_tashkent"]
      interval: 5s
      timeout: 5s
      retries: 5

  # pgAdmin (optional - for debugging)
  pgadmin:
    image: dpage/pgadmin4:9.11.0
    ports:
      - "8080:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin_tashkent@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin_tashkent
    depends_on:
      - postgres

volumes:
  postgres_data:
